<div class="footer-div">
    <p>This is a paragraph in my footer</p>
</div>



<!-- link for icons -->
<!-- <a target="_blank" href="https://icons8.com/icon/67652/facebook">Facebook</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->

<!-- square menu -->
<!-- <a target="_blank" href="https://icons8.com/icon/YOrgWKvUdGE3/menu-squared">Menu Squared</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->

<!-- clean line socials -->
<!-- <a target="_blank" href="https://icons8.com/icon/32292/instagram">Instagram</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- <a target="_blank" href="https://icons8.com/icon/118468/facebook">Facebook</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->