<div class="footer-div">
    <div>
        <a  href="/" class="logo"><picture><img class="footer-logo logo" src="../imgs/logo.png"  alt="Dolly M Logo"></picture></a>
    </div>
    <div>
        <h3>Contact Us</h3>
        <p>oldwillowcafe@gmail.com</p>
    </div>
    <div>
        <h3>
        <a class="nav-link facebook" href="https://www.facebook.com/">
            <img class="social-icon" src="../imgs/facebook-white.png" alt="facebook logo icon">
        </a>
        <a class="nav-link instagram" href="https://www.instagram.com/">
            <img class="social-icon" src="../imgs/instagram-white.png" alt="instagram logo icon">
        </a>
        </h3>
        <p class="small-text">&copy; 2022 Old Willow Cafe</p>
    </div>
</div>




<!-- social media icons -->
<!-- <a target="_blank" href="https://icons8.com/icon/32292/instagram">Instagram</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- <a target="_blank" href="https://icons8.com/icon/118468/facebook">Facebook</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->