<nav class="main-nav">
    <div class="socials-logo-div">
        <div class="socials-div">
                <a class="nav-link facebook" href="https://www.facebook.com/">
                    <img class="social-icon" src="../imgs/facebook.png" alt="facebook logo icon">
                </a>
                <a class="nav-link instagram" href="https://www.instagram.com/">
                    <img class="social-icon" src="../imgs/instagram.png" alt="instagram logo icon">
                </a>
        </div>
        <a  href="/" class="nav-logo logo"><picture><img class="nav-logo logo" src="../imgs/logo.png"  alt="Dolly M Logo"></picture></a>
        <a href="#" class="nav-menu-button nav-link">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </a>
    </div>
    <div class="nav-menu-div closed">
        <ul class="nav-menu">
            <li class="order0"><a href="/">Home</a></li>
            <li class="order0"><a href="/about">About</a></li>
            <li class="order2"><a href="/menu">Menu</a></li>
            <li class="order2"><a href="/order">Order</a></li>
            <li class="order1"><a href="#" class="close-nav-menu">✕</a></li>
        </ul>
    </div>
    <a href="#" class="close-nav-menu-full-page hidden"></a>
</nav>
<script src="../js/nav.js"></script>