<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Old Willow Cafe</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/about.css">
    <script defer src="/js/main.js"></script>
</head>
<body>
    <header>
        <%- include('components/nav.ejs') %>
    </header>
    <main>
        <h1>About</h1>
        <h2>Lorem Ipsum</h2>
        <div class="about-main">
            <img class="about-img" src="../imgs/lemon4.jpg">
            <div>
                <h3>What is a Macaron?</h3>
                <p>
                    A macaron (pronounced mack-a-ROHN) is a french dessert made from icing sugar, 
                    almond flour, and egg whites. It is then sandwiched with different fillings. 
                    Macarons are commonly mistaken with “macaroons”, which are meringue cookies 
                    with shredded coconut and usually dipped in chocolate. The two names sound 
                    very similar, but they are very different desserts!
                </p>
            </div>
            <img class="about-img center" src="../imgs/swankydip2.jpg">
            <div class="center">
                <h3>History</h3>
                <p>
                    Macarons date back as far as the 8th century. Many believe that the Italians 
                    brought the dessert to France in 1581 when Catherine de' Medici of Italy 
                    married the king of France, Henry III, and brought her pastry chefs from Italy 
                    with her. Back then macarons were called “priests bellybuttons”.
                </p>
                <p>
                    Macarons were exclusively meant for the royals up until the French Revolution, 
                    and they then gained fame with the commoners through a sister duo who sold 
                    them for money in 1792 in a town called Nancy. The dessert then got its name 
                    “Macaron de Nancy”, and it is now known as just “macaron”.
                </p>
            </div>
            <img class="about-img" src="../imgs/huckleberry2.jpg">
            <div>
                <h3>Who Am I?</h3>
                <p>I am Madi Lamoreaux.</p>
                <p>
                    I am a wife and a mother who has found a love for macarons! I love to make them 
                    more than eat them and that’s why selling them has been a joy for me. I made my 
                    first macarons out of curiosity for the beautiful historic cookie. My first 
                    attempt made me giddy with glee as I watched them puff up gloriously in the oven, 
                    only to then find that they were flat and cracked by the end. I tried again, and 
                    was happy as ever glued to the oven window watching them puff up. Again, it was a 
                    fail. Fail after fail after fail. I was determined to get it right. This cookie 
                    and I have had too many failures to count but… I have succeeded! I am here to 
                    share my victory with this beautiful cookie with all of you. Macarons are truly 
                    a labor of love and I hope I can give you just a little piece of that sweet love 
                    through this chewy little delight.
                </p>
            </div>
        </div>
    </main>
    <footer>
        <%- include('components/footer.ejs') %>
    </footer>
</body>
</html>