<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Old Willow Cafe</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/menu.css">
    <script type="text/javascript" defer src="/js/main.js"></script>
    <script type="text/javascript" defer src="/js/menu.js"></script>
</head>
<body>
    <header>
        <%- include('components/nav.ejs') %>
    </header>
    <main>
        <div class="hero-div">
            <div>
            <h1>Welcome to <br>Old Willow Cafe</h1>
            </div>
        </div>
        <div>
            <h2>Our Tasty Bites</h2>
            <div class="home menu-cards-div">
                <div class="menu-card"></div>
            </div>
            <div class="gradient">
            </div>
            <a href="/menu">
                <h3>View the Full Menu...</h3>
            </a>
        </div>
        </main>
        <footer>
            <%- include('components/footer.ejs') %>
        </div>
    </footer>
</body>
</html>