@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

$color1: #fff;
$color2: #f1f3f4;
$color3: #8C9CA4;
$color4: #536A77;
$color5: #193849;
$color6: #000;
$accent: rgb(244, 185, 182);

$link-color: $color5;
$link-hover: $color3;
$footer-height: 100px;