@import "variables";

.about-main {
    margin: 20px auto;
    width: 75%;
    max-width: 850px;

    div {
        margin: auto;
    }
    
    h3 {
        font-size: 22px;
    }
}

.about-img {
    max-width: calc(100% - 2vw - 3px);
    margin: auto;
    max-height: calc(100% - 4vw);
    object-fit: cover;
    border: 1.5px solid $color4;
    padding: 1vw;
}

@media only screen and (min-width: 480px) {
    .about-main {
        display: grid;
        gap: calc(20px + 2vw) 20px;
        grid-template-columns: 1fr 1fr;
    }
    .about-img.center {
        grid-column: 2;
    }
    div.center {
        grid-row: 2;
    }
    .about-img {
        margin: auto;
        min-height: 100%;
    }
}