@import "variables";

.menu-cards-div {
    display: grid;
    width: 75%;
    max-width: 850px;
    margin: auto;
    padding: 20px 0px;
    gap: 20px;
    grid-template-columns: repeat(2, minmax(80px, 1fr));
    text-align: center;
}

.menu-card {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    position: relative;
    margin: 2px;   
    box-sizing: border-box;
    max-height: min-content;
    align-items: flex-start;
    
    p, h3 {
        align-self: center;
    }

    h3 {
        font-size: 16px;
    }
}

.menu-card-img {
    max-width: calc(100% - 2vw);
    position: absolute;
    transition: .7s;
    border: 1.5px solid $color4;
    padding: 1vw;
    
    &:hover {
        opacity: 0;
    }
}

.menu-card-hover-img {
    max-width: calc(100% - 2vw);
    border: 1.5px solid $color4;
    padding: 1vw;
    display: block;
}

@media only screen and (min-width: 480px) {
    
    .menu-cards-div {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    }
}